/* 
---------COLORS: 
button color: #FF5959 
donate plan: #4f9da6 #ff5959(10% opacity) #fff4d6
primary font color: #121212
paragraph font color: #707070 #777 #444 #f1f3f5 #e9ecef #ced4da

---------FONT: Open Sans
font size heading:
font size paragraph:
---------LINE HEIGHT:
Default: 1, 1.2, 1.8
---------SHADOWS:
---------BORDER-RADIUS: 4px 8px
 */

/* =========================== */
/* GENERAL REUSABLE COMPONENTE */
/* =========================== */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  color: #444;
}
.center {
  margin: 0 auto;
}
.center-text {
  text-align: center;
}
.donate-button {
  background-color: #ff5959;
  color: #e9ecef;
  text-decoration: none;
  padding: 11px 16px;
  border-radius: 4px;
  display: inline-block;
}
.secondary-heading {
  font-size: 44px;
  margin-bottom: 24px;
}
.tertiary-heading {
  font-size: 30px;
  margin-bottom: 16px;
}
.description {
  line-height: 1.5;
  margin-bottom: 32px;
  color: #777;
}
.section-gap {
  margin-bottom: 96px;
}

/* ====================== */
/* HEADER SECTION */
/* ====================== */
.header-section {
  width: 100%;
  height: 670px;
  /* background-color:#cccc ; */
  /* background-image: url(images/donation13.jpg); */

  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.55),
      rgba(69, 68, 68, 0.45)
    ),
    url("images/donation13.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  padding: 205px 310px;
  color: #f1f3f5;
}
.primary-heading {
  font-size: 52px;
  margin-bottom: 32px;
  letter-spacing: -1px;
  line-height: 1.2;
}
.header-description {
  width: 70%;
  margin-bottom: 52px;
  line-height: 1.8;
}

/* ================== */
/* AMOUNT SECTION */
/* ================== */
.amount-section {
}
.amount {
  width: 55%;
}
.amount-btn-box {
  margin-bottom: 48px;
}
.amount-btn {
  font-size: 24px;
  background-color: #e9ecef;
  color: #555;
  text-decoration: none;
  padding: 32px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 8px;
}
.amount .description {
  margin-bottom: 48px;
}
.other-amount {
  margin-bottom: 12px;
  color: #ced4da;
}
.amount .donate-button {
  margin-top: 24px;
}

/* ================== */
/* PLAN SECTION */
/* ================== */
.plan-section {
  width: 90%;
}
.plan-desciption {
  width: 60%;
}
.plan-cart {
  width: 80%;
  display: flex;
  text-align: left;
}
.cart {
  padding: 70px 16px;
  width: 100%;
  margin-right: 12px;
}

.food-cart {
  background-color: rgba(79, 157, 166, 0.2);
}
.shelter-cart {
  background-color: rgba(255, 87, 87, 0.2);
}
.education-cart {
  background-color: rgba(255, 244, 214, 0.2);
}
.cart-description {
}

.plan-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
}
