/* 
---------COLORS: 
button color: #FF5959 
donate plan: #4f9da6 #ff5959(10% opacity) #fff4d6
primary font color: #121212
paragraph font color: #707070

---------FONT: Open Sans

 */
/* GENERAL REUSABLE COMPONENTE */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
}
/* HEADER SECTION */
